<div class="self-aboutpage-edit" layout-padding >
  <h3>标题区域</h3>
  <md-input-container>
    <label>描述</label>
    <textarea ng-model="aboutpage.slideHeader.description"></textarea>
  </md-input-container>
  <self-upload-image image-url="aboutpage.slideHeader.bigImgUrl "></self-upload-image>
  <md-input-container>
    <label>背景图</label>
    <input ng-model="aboutpage.slideHeader.bigImgUrl">
  </md-input-container>
  <!-- <self-upload-image image-url="aboutpage.slideHeader.smallImgUrl "></self-upload-image>
  <md-input-container>
    <label>右侧图片</label>
    <input ng-model="aboutpage.slideHeader.smallImgUrl">
  </md-input-container> -->

  <h3>Banner</h3>
  <md-input-container>
    <label>中文描述</label>
    <input ng-model="aboutpage.midBanner.cn">
  </md-input-container>
  <md-input-container>
    <label>英文描述</label>
    <input ng-model="aboutpage.midBanner.en">
  </md-input-container>

  <h3>区域 1</h3>
  <md-input-container>
    <label>中文标题</label>
    <input ng-model="aboutpage.area1.title.cn">
  </md-input-container>
  <md-input-container>
    <label>英文标题</label>
    <input ng-model="aboutpage.area1.title.en">
  </md-input-container>
  <md-input-container>
    <label>内容</label>
    <textarea ng-model="aboutpage.area1.content"></textarea>
  </md-input-container>

  <h3>区域 2</h3>
  <md-input-container>
    <label>中文标题</label>
    <input ng-model="aboutpage.area2.title.cn">
  </md-input-container>
  <md-input-container>
    <label>英文标题</label>
    <input ng-model="aboutpage.area2.title.en">
  </md-input-container>
  <md-input-container>
    <label>内容</label>
    <textarea ng-model="aboutpage.area2.content"></textarea>
  </md-input-container>

  <h3>区域 3</h3>
  <md-input-container>
    <label>中文标题</label>
    <input ng-model="aboutpage.area3.title.cn">
  </md-input-container>
  <md-input-container>
    <label>英文标题</label>
    <input ng-model="aboutpage.area3.title.en">
  </md-input-container>
  <self-upload-image image-url="aboutpage.area3.imgUrl "></self-upload-image>
  <md-input-container>
    <label>图片</label>
    <input ng-model="aboutpage.area3.imgUrl">
  </md-input-container>

  <div layout-align="end center" layout="row">
    <md-button class="md-raised self-publish-button-setting md-primary" flex
      ng-click="update()">
      更新
    </md-button>
  </div>
</div>
