<div class="self-layout-edit" layout-padding>
  <h3>框架</h3>
  <md-input-container>
    <label>Html Title</label>
    <input ng-model="layout.htmlTitle">
  </md-input-container>
  <self-upload-image image-url="layout.logoImg"></self-upload-image>
  <md-input-container>
    <label>Logo 图片</label>
    <input ng-model="layout.logoImg">
  </md-input-container>
  <md-input-container>
    <label>ICP</label>
    <input ng-model="layout.ICP">
  </md-input-container>

  <h3>导航</h3>
  <md-list>
    <md-list-item ng-repeat="category in categorys">
      <md-checkbox ng-change="changeNavCategory(category)" ng-model="category.checked"></md-checkbox>
      <p>{{category.name}}</p>
    </md-list-item>
  </md-list>

  <h3>标题区域</h3>
  <md-input-container>
    <label>描述</label>
    <textarea ng-model="layout.slideHeader.description"></textarea>
  </md-input-container>
  <self-upload-image image-url="layout.slideHeader.bigImgUrl"></self-upload-image>
  <md-input-container>
    <label>背景图</label>
    <input ng-model="layout.slideHeader.bigImgUrl">
  </md-input-container>
  <self-upload-image image-url="layout.slideHeader.smallImgUrl"></self-upload-image>

  <md-input-container>
    <label>右侧图片</label>
    <input ng-model="layout.slideHeader.smallImgUrl">
  </md-input-container>

  <h3>Banner</h3>
  <md-input-container>
    <label>中文描述</label>
    <input ng-model="layout.midBanner.cn">
  </md-input-container>
  <md-input-container>
    <label>英文描述</label>
    <input ng-model="layout.midBanner.en">
  </md-input-container>
  <div layout-align="end center" layout="row">

    <md-button class="md-raised self-publish-button-setting md-primary" flex
      ng-click="update()">
      更新
    </md-button>
  </div>
</div>
