<div class="self-layout-edit"  layout-padding>
  <h3>框架</h3>
  <md-input-container>
    <label>Html Title</label>
    <input ng-model="layout.htmlTitle">
  </md-input-container>
  <button accept="image/*" class="self-image-placeholder"
    ng-style="imageLogoPlaceholderStyle" ngf-max-height="1000" ngf-max-size="10MB"
    ngf-select="uploadLogoImage($file)" type="file">
    <span ng-show="!layout.logoImg">上传图片</span>
  </button>
  <md-input-container>
    <label>Logo 图片</label>
    <input ng-model="layout.logoImg">
  </md-input-container>
  <md-input-container>
    <label>ICP</label>
    <input ng-model="layout.ICP">
  </md-input-container>

  <h3>导航</h3>
  <md-list>
    <md-list-item ng-repeat="category in categorys">
      <md-checkbox ng-change="changeNavCategory(category)" ng-model="category.checked"></md-checkbox>
      <p>{{category.name}}</p>
    </md-list-item>
  </md-list>

  <h3>标题区域</h3>
  <md-input-container>
    <label>描述</label>
    <input ng-model="layout.slideHeader.description">
  </md-input-container>
  <!-- <p class="md-subheader">描述</p>
  <textarea ng-model="layout.slideHeader.description" cols="30" rows="10"></textarea> -->
  <button accept="image/*" class="self-image-placeholder"
    ng-style="imageBackPlaceholderStyle" ngf-max-height="1000" ngf-max-size="10MB"
    ngf-select="uploadBgcImage($file)" type="file">
    <span ng-show="!layout.slideHeader.bigImgUrl">上传图片</span>
  </button>
  <md-input-container>
    <label>背景图</label>
    <input ng-model="layout.slideHeader.bigImgUrl">
  </md-input-container>
  <button accept="image/*" class="self-image-placeholder"
    ng-style="imageRightPlaceholderStyle" ngf-max-height="1000" ngf-max-size="10MB"
    ngf-select="uploadRighImage($file)" type="file">
    <span ng-show="!layout.slideHeader.smallImgUrl">上传图片</span>
  </button>
  <md-input-container>
    <label>右侧图片</label>
    <input ng-model="layout.slideHeader.smallImgUrl">
  </md-input-container>

  <h3>Banner</h3>
  <md-input-container>
    <label>中文描述</label>
    <input ng-model="layout.midBanner.cn">
  </md-input-container>
  <md-input-container>
    <label>英文描述</label>
    <input ng-model="layout.midBanner.en">
  </md-input-container>
  <div layout-align="end center" layout="row">

    <md-button class="md-raised self-publish-button-setting md-primary" flex ng-click="update()">
      更新
    </md-button>
  </div>
</div>
