<div  style="height:100%" layout="row" layout-align="center center">
  <md-content layout-align="center center" layout-padding layout="column">
    <div class="own-login-part">
      <form name="loginForm" novalidate>
        <md-input-container>
          <label>用户名</label>
          <input name="name" ng-model="author.name" required>

          <div ng-if="loginForm.name.$touched" ng-messages="loginForm.name.$error">
            <div ng-message="required">请填写用户名</div>
          </div>

        </md-input-container>

        <md-input-container>
          <label>密码</label>
          <input name="password" ng-model="author.password" required type="password">

          <div ng-if="loginForm.password.$touched" ng-messages="loginForm.password.$error">
            <div ng-message="required">请填写密码</div>
          </div>
        </md-input-container>
        <div layout-align="center center" layout="row">
          <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="!loginForm.$valid">Login</md-button>
          <md-button class="md-raised">Register</md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
