<div class="self-category-articles">
  <md-content flex>

    <md-list>
      <md-subheader>文章</md-subheader>
      <md-divider></md-divider>
      <md-list-item ng-click="preview(article);$event.stopPropagation()"
        ng-repeat="article in articles">
        <p>{{article.title}}</p>
        <md-button class="md-icon-button  md-primary"
          ui-sref="home.article.edit({id:article._id})">
          <md-icon aria-label="edit" md-svg-src="../fonts/icons/ic_edit_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary"
          ng-click="del(article);$event.stopPropagation()">
          <md-icon aria-label="delete" md-svg-src="../fonts/icons/ic_delete_24px.svg"></md-icon>
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
    <div class="self-page-navigation-wrapper">
      <div class="self-page-navigation" layout-align="center center" layout="row">
        <md-button ng-click="getData($index+1)" ng-repeat="i in range(pageNum) track by $index">{{$index+1}}</md-button>
      </div>
    </div>
  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2 self-preview-article"
    md-component-id="right">
    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools" flex>
        <h1 class="md-toolbar-tools" flex="80">预览</h1>
        <md-button class="md-icon-button">
          <md-icon aria-label="edit" md-svg-src="../fonts/icons/ic_edit_24px.svg"
            ui-sref="home.article.edit({id:previewArticle._id})"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="del(previewArticle)">
          <md-icon aria-label="delete" md-svg-src="../fonts/icons/ic_delete_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <h1>{{previewArticle.title}}</h1>

      <p>{{previewArticle.createDate | date:"yyyy-MM-dd 'at' h:mma"}}</p>

      <div ng-bind-html="deliberatelyTrustDangerousSnippet()"></div>

      <md-chips>
        <md-chip ng-repeat="tag in previewArticle.tags">{{tag}}</md-chip>
      </md-chips>
    </md-content>

  </md-sidenav>
</div>
