<section layout="row" style="height:100%">
  <!--左侧分类导航-->
  <md-list class="self-category-nav" flex="20">
    <md-list-item>
      <md-subheader class="md-no-sticky" flex="60">分类</md-subheader>

      <md-button class="md-icon-button md-primary" ng-click="toggleSetting()">
        <md-icon aria-label="setting" md-svg-src="../fonts/icons/ic_settings_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button md-primary" ui-sref="home.category.setting.create">
        <md-icon aria-label="create" md-svg-src="../fonts/icons/ic_add_24px.svg"></md-icon>
      </md-button>
    </md-list-item>
    <md-divider></md-divider>

    <md-divider></md-divider>
    <md-list-item ng-repeat="category in categorys">
      <md-button ng-click="toUrl(titleTarget,{id:category._id})">
        {{category.name}}
      </md-button>
      <md-button class="md-icon-button md-primary" flex="20" ng-click="deleteCategory(category)"
        ng-show="isSetting">
        <md-icon aria-label="delete" md-svg-src="../fonts/icons/ic_delete_24px.svg"></md-icon>
      </md-button>

      <md-button class="md-icon-button" flex="20" ng-click="toUrl('home.article.create',{category:category})"
        ng-show="!isSetting">
        <md-icon aria-label="add" md-svg-src="../fonts/icons/ic_note_add_24px.svg"></md-icon>
      </md-button>
    </md-list-item>
  </md-list>

  <!--右侧文章列表-->
  <div flex ui-view="submain"></div>
</section>
