extends ./layouts/main-layout.jade

block content
  include ./includes/slide-header.jade
  include ./includes/mid-banner.jade
  +slide-header(layoutData.slideHeader)
  +mid-banner(layoutData.midBanner)


  .article.area.area-1
    .area-title
      h3 #{articleData.titles.enLong}
      h3 #{articleData.titles.zhLong}
    .area-content
      .description
        !{articleData.content}

  .article.area.area-2
    .area-title
      h3 E-government service content
      h3 瑞高电子政务服务内容
    .area-grid
      .row
        -for(i=0;i<6;i++)
          .col
            a.card
              .content-wrap
                h2.title-main 电子政务
                p.title-sub The electronic government affairs
              .card-description
                p 电子政务
                p 电子政务将政务工作更有效、更精简
