extends ./layouts/main-layout.jade

block content
  include ./includes/slide-header.jade
  include ./includes/mid-banner.jade
  +slide-header(layoutData.slideHeader)
  +mid-banner(layoutData.midBanner)

  //news
  section.news
    .wrap
      .head
        h3 瑞高资讯  
      -each article in articles
        a
          .news-card 
            .title
              h3 #{article.title}
              p.news-date #{article.createDate}
            .img-area
            .content
              p #{article.description}
  //pagination 分页  
  section.pagination
    ul
      li
        a 上一页
      li 
        a 下一页
