extends ./layouts/main-layout.jade

block content
  include ./includes/slide-header.jade
  include ./includes/mid-banner.jade

  //news
  section.news
    .wrap
      .head
        h3 瑞高资讯  
      -for(var i=0;i<5;i++)
        a
          .news-card 
            .title
              h3 我和厄尔以及将死的女孩
              p.news-date 11月20日
            .img-area
              //- img(src='./images/news-img.jpg')
            .content
              p
                |高中生格雷戈（托马斯·曼 Thomas Mann 饰）性格善良却有点孤僻，他唯一的爱好是与死党厄尔（RJ Cyler 饰）拍摄短片，改编自己所喜爱经典电影，自娱自乐。有一天，格雷戈结识了身患白血病的女孩蕾切尔（奥利维亚·库克 Olivia Cooke 饰），乐观开朗的蕾切尔改变了格雷戈原有的世界，两人十分谈得来，格雷戈逐渐对蕾切尔萌生爱意，却不好意思说出口。就在此时，蕾切尔的病情加重，格雷戈意识到自己必须有所行动…… 
                |本片改编自Jesse Andrews的同名小说《Me and Earl and the Dying Girl》，影片剧本曾被誉为2012年的剧本黑名单。
  //pagination 分页  
  section.pagination
    ul
      li
        a 上一页
      li 
        a 下一页
