@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";

.self-article-edit {
  .self-publish-button {
    height: 40px !important;
    width: 30px !important;
    max-width: 100px;
    min-width: 0;
    margin: auto 10px;
  }

  .self-setting-button {
    margin: auto 0 auto 20px !important;
  }

  .ta-scroll-window {
    border: #f5f7f8 solid 1px;
  }

  text-angular textarea {
    padding: 6px 0;
    display: block;
    width: 100%;
    &:focus{
      border-color:#66afe9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

.self-article-setting {
  max-width: 450px !important;
  width: 450px !important;
  min-width: 0 !important;

  border-left: #f5f7f8 solid 1px;

  .self-article-url-view{
    padding: 0;
    margin: 0;
    margin-top: -20px;
    padding-left: 5px;
  }
}

.self-preview-background-image{
  width:100%;
}

.self-image-placeholder{
  border:none;
  height: 200px;
  background-color: #f5f7f8;
  width: 100%;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }
}

.colorpicker{
   transform:translateX(-450px);
}

md-backdrop {
  background-color: transparent !important;
}
