// footer
footer
  nav
    ul
      li
        a(href='') 首页
      li
        a(href='') 服务与方案
      li
        a(href='') 瑞高资讯
      li
        a(href='') 关于瑞高
      li
        a(href='') 人才招募
  //
    <p>公司地址：西青区大学城创新大楼c504</p>
    <p>联系电话：15722286393</p>
  p 备案号:#{homeData.ICP}
