// header
header
  .head-wrap
    .logo-wrap
      a(href='/').head-img
        img(src=layoutData.logoImg, alt='')
      button.burger-btn
        span
        span
        span
    include ./nav.jade
  
