nav
  ul
    li
      a(href='/') 首页
    - each category in layoutData.nav
      li
        -if(category.slug[0]==='#')
          a(href='/'+category.slug) #{category.name}
        -else
          a(href='/category/'+category.slug) #{category.name}
          
    li
      a(href='/about') 关于瑞高
    li
      a(href='') 人才招募
