nav
  ul
    li
      a(href='/') 首页
    - each category in layoutData.nav
      li
        a(href='/'+category.slug) #{category.name}
        
    li
      a(href='/about') 关于瑞高
    li
      a(href='') 人才招募
