// slide header @fullSize
mixin slide-header(slideHeader)
  section.slide-header
    .wrap
      .title
        !{slideHeader.description}
      .content-img
        img(src=slideHeader.smallImgUrl, alt='')
