// slide header @fullSize
mixin slide-header(slideHeader)
  style.
    .slide-header{
      background-image:url(#{slideHeader.bigImgUrl})
    }
    @media (max-width: 1200px){
      .slide-header{
        background-image:url(#{slideHeader.smallImgUrl})
      }
    }
  section.slide-header
    .wrap
      .title
        !{slideHeader.description}
      .content-img
        img(src=slideHeader.smallImgUrl, alt='')
