// slide header @fullSize
mixin slide-header(slideHeader)
  section.slide-header(style='background-image:url('+slideHeader.bigImgUrl+')')
    .wrap
      .title
        !{slideHeader.description}
      .content-img
        img(src=slideHeader.smallImgUrl, alt='')
