.self-category-nav {
  border-right: #f5f7f8 1px solid;
  height: 100%;

  // .md-button {
  //   width: 100%;
  //   margin: 0 !important;
  // }
}

.self-preview-article {
  width: 700px !important;
  max-width: none !important;
  min-width: none !important;
}

.self-page-navigation {
  .md-button {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
}
